/* Lettering Exercise */



.char1,
.char3,
.char5,
.char7 {

	color: orange;
}


.word2,
.word4 {

	color: pink;
	letter-spacing: 10px;
}




/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}